#Home_Page{
    min-height: 100vh;
    
    .home_photo img {
        width: 100%;
        height: 85vh;
    }
    .home_intro h6 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
    .home_intro h1 {
        font-size: 4rem;
        margin-bottom: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .home_intro h3 {
        font-size: 2rem;
        font-weight: lighter;
    }
    

}
